/* SubscriptionMyBlog.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 3rem 1.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #5f4b32; /* тёмно-коричневый */
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.125rem;
  color: #8b6d48; /* светло-коричневый */
}

.body {
  color: #7d5a3c; /* средне-коричневый */
  font-size: 1rem;
  line-height: 1.75;
  max-width: 40rem;
  margin-bottom: 1.5rem;
}

.button {
  background: linear-gradient(
    135deg,
    #f5e3c3,
    #e8d6ba
  ); /* Градиентный бежевый фон */
  color: #5f4b32; /* Тёмно-коричневый текст */
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem; /* Более закруглённые края */
  font-weight: 600;
  font-size: 1rem; /* Современный размер текста */
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.06); /* Глубокие тени */
  border: none; /* Убираем стандартную границу */
  text-decoration: none;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background 0.3s ease;
  display: inline-block;
  cursor: pointer;
}

.textBlock {
  color: #9c7e56; /* светло-бежевый */
  font-size: 0.875rem;
  margin-top: 1.5rem;
}
