.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3.5rem 1.5rem; /* Увеличены отступы */

  border-radius: 12px;
  max-width: 600px;
  margin: 0 auto;
}

.title {
  font-size: 2.2rem; /* Увеличен размер текста */
  font-weight: bold;
  color: #4a4a4a;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.imageContainer {
  width: 150px; /* Значительно увеличен размер контейнера */
  height: 150px;
  margin-bottom: 1.5rem; /* Увеличен отступ снизу */
}

.image {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 2px solid #e0d7d3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.description {
  color: #6b6b6b;
  font-size: 1rem; /* Увеличен размер текста */
  line-height: 1.8; /* Увеличена высота строки */
  max-width: 450px; /* Увеличена ширина контейнера */
  margin: 0 auto;
}

@media (max-width: 768px) {
  .section {
    padding: 2.5rem 1rem; /* Увеличены отступы для мобильных */
  }

  .title {
    font-size: 1.7rem; /* Увеличен размер текста для заголовка */
  }

  .description {
    font-size: 0.95rem; /* Увеличен размер текста для описания */
  }
}
