/* Card Container */
.article {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  border: 1px solid #c89f94; /* Dark gray border for subtle distinction */
  border-radius: 10px;
  font-family: "Arial", sans-serif;
  line-height: 1.8;
  transition: transform 0.3s ease;
}

.article:hover {
  transform: translateY(-5px);
}

/* Title */
.title {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #aaa; /* White text for contrast */
  text-align: center;
  word-wrap: break-word;
}

/* Text */
.text {
  margin: 20px 0;
  font-size: 1rem;
  color: #aaa; /* Light gray text for readability */
  line-height: 1.6;
}

/* Image */
.image {
  width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 8px;
  object-fit: cover;
  border: 1px solid #333; /* Matching border for consistency */
}

/* Date */
.date {
  font-size: 0.9rem;
  color: #aaa; /* Medium gray text */
  margin-bottom: 20px;
  text-align: right;
}

/* SliceZone Paragraphs */
.sliceZone {
  margin-top: 30px;
}

.sliceZone p {
  font-size: 1.1rem;
  color: #aaa; /* Light gray text */
  margin: 10px 0;
}
